<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bethanywong.msapp">

    <uses-sdk android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TapTest">
            <intent-filter>
                <action android:name="com.example.bethanywong.msapp.TapTest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DeveloperInfo">
            <intent-filter>
                <action android:name="com.example.bethanywong.msapp.DeveloperInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SpiralTest">
            <intent-filter>
                <action android:name="com.example.bethanywong.msapp.SpiralTest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SpiralScore">
            <intent-filter>
                <action android:name="com.example.bethanywong.msapp.SpiralScore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".BalloonTest">
            <intent-filter>
                <action android:name="com.example.bethanywong.msapp.BalloonTest" />
                <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
        </activity>
        <activity android:name=".LevelTestNew">
            <intent-filter>
                <action android:name="com.example.bethanywong.msapp.LevelTestNew" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>